<template>
    <lightning-card  variant="Narrow"  title="for:each Looping" >
        <lightning-button-icon  icon-name="utility:down" variant="border-filled" alternative-text="Show More" slot="actions"></lightning-button-icon>
        <div class="slds-p-horizontal_small">
            <template for:each={carList} for:item="car">
                <div key={car} >{car}</div>
            </template>

        </div>
    </lightning-card>
     <lightning-card  variant="Narrow"  title="for:each Array" >
        <lightning-button-icon  icon-name="utility:down" variant="border-filled" alternative-text="Show More" slot="actions"></lightning-button-icon>
        <div class="slds-p-horizontal_small">
            <template for:each={ceoList} for:item="car">
                <div key={car.id} >{car.company} and {car.CEO}</div>
            </template>

        </div>
    </lightning-card>
    <lightning-card  variant="Narrow"  title="Iterator" >
        <ul class="slds-p-horizontal_small">
            <template if:true={ceoList} iterator:ceos={ceoList}>
                <li key={ceos.value.Id}>
                    <div if:true={ceos.first} class="list-first"><strong> List of CEO's </strong></div>
                        <!--{iteratorName.index} || {iteratorName.value.propertyName}-->
                        <span>{ceos.value.company}   {ceos.value.CEO} </span>
                    <div if:true={ceos.last} class="list-last">
                        <strong> Thanks!!! </strong></div>
                </li>
            </template>

        </ul>
    </lightning-card>
</template>