.secure-shield-icon {
    position: relative;
    /* top: 4px; */
    left: -65px;
    --sds-c-icon-color-foreground-default: green;  
}
.inbound-outbound-icon {
    position: relative;
    top: -10px;
    left: -18px;
    --sds-c-icon-color-foreground-default: green;   
}
/*.ul-message-box {
    margin-top: -15px;
}*/
.text-with-bold{
    font-weight: bold;
}
.email-box-container {
    height: 300px; 
    min-height: 300px; 
    overflow-y: auto;
}

.slds-modal__container{
    height: 660px !important;
    max-height: 660px !important;
}

.slds-modal__content {
    overflow: visible;
    overflow-y: visible;
}