<template>
    <lightning-layout multiple-rows="true">
        <lightning-layout-item size="9">
            
            <lightning-tile label={fromName} href="#" onclick={handleTileClick} type="media">
                <template if:false={email.isCustomEmail}>
                    <lightning-avatar slot="media" size="medium" variant="circle" initials={initials} fallback-icon-name="standard:email" alternative-text={email.FirstName} class="slds-m-right_small"></lightning-avatar>
                </template>
                <template if:true={email.isCustomEmail}>
                    <lightning-avatar slot="media" size="medium" variant="circle" initials={initials} fallback-icon-name="standard:email" alternative-text={email.FirstName} class="slds-m-right_small"></lightning-avatar>

                    <lightning-icon icon-name="utility:shield" class="secure-shield-icon" size="x-small" title="Secured Inbox"></lightning-icon>
                    <template if:true={email.recordType}>
                        <!-- <lightning-icon icon-name="utility:arrow_right" class="inbound-outbound-icon" size="x-small"></lightning-icon> -->
                        <lightning-avatar src={outgoingLogo} slot="media" initials={initials} alternative-text={email.FirstName} class="inbound-outbound-icon" size="medium"></lightning-avatar>
                    </template> 
                    <template if:false={email.recordType}>
                        <!-- <lightning-icon icon-name="utility:arrow_left" class="inbound-outbound-icon" size="x-small"></lightning-icon> -->
                        <lightning-avatar src={incomingLogo} slot="media" initials={initials} alternative-text={email.FirstName} class="inbound-outbound-icon" size="medium"></lightning-avatar>
                    </template>
                </template>   
                <div class="ul-message-box" ondblclick={openReplyModal}>
                    <div class="text-with-bold">
                        {email.Subject}
                    </div>
                    <ul class="slds-list_horizontal slds-has-dividers_right">
                        <li class="slds-item">
                            <p class="slds-line-clamp_x-small">
                                <lightning-formatted-rich-text value={email.TextBody}>
                                </lightning-formatted-rich-text>
                            </p>
                            <span class="slds-m-left_xx-small slds-no-flex"> </span>
                        </li>
                    </ul>
                </div>
            </lightning-tile>   
        </lightning-layout-item>
        <lightning-layout-item size="3">
            <lightning-layout vertical-align="top" horizontal-align="end" multiple-rows="true">
                <template if:true={email.isCustomEmail}>
                <lightning-layout-item size="12">
                    <div class="slds-text-align_right">
                        <lightning-button-menu alternative-text="Email Menu" icon-size="x-small" variant="border-filled" onselect={handleMenuSelect}>
                            <lightning-menu-item value="reply" icon-name="utility:reply" label="Reply"></lightning-menu-item>
                            <lightning-menu-item value="replyAll" icon-name="utility:reply_all" label="Reply All"></lightning-menu-item>
                        </lightning-button-menu>
                    </div>
                </lightning-layout-item>
            </template>
                <lightning-layout-item size="12">
                    <div class="slds-text-align_right slds-p-top_x-small">
                        <lightning-formatted-date-time value={email.MessageDate} year="numeric" month="numeric" day="numeric" weekday="short" hour="2-digit" minute="2-digit" hour12="true"></lightning-formatted-date-time>
                    </div>
                </lightning-layout-item>    
            </lightning-layout>
        </lightning-layout-item>
    </lightning-layout>

    <template if:true={isReplyModalVisible}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-reply" aria-modal="true" aria-describedby="modal-content-id-reply" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeReplyModal}>
                        <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <!-- <lightning-button-icon class="slds-modal__close slds-button_icon-inverse" icon-name="utility:close" alternative-text="close" title="Close" variant="inverse" size="small" onclick={closeReplyModal}></lightning-button-icon> -->
                    <h2 id="modal-heading-reply" class="slds-text-heading_medium slds-hyphenate">RE: {email.Subject}</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-reply">
                    <lightning-tile>
                        <ul>
                            <li>
                                <lightning-layout size="12">
                                    <lightning-layout-item size="1">
                                <b>From:</b> 
                            </lightning-layout-item>
                            <lightning-layout-item size="11">
                                <select class="slds-select" style="width: 50%;" name = "optionSelect" onchange={changeHandler} >
                                    
                                    <option value={userEmail}>{userName} &lt;{userEmail}&gt;</option>
                                    <template for:each={emails} for:item="eml">
                                    <option key={eml.Id} value={eml.Address}>{eml.DisplayName} &lt;{eml.Address}&gt;</option>
                                </template>
                                </select> 
                            </lightning-layout-item>
                            </lightning-layout>
                            </li>
                            <li>
                                <lightning-layout size="12">
                                    <lightning-layout-item size="1">
                                <b>To:</b>
                            </lightning-layout-item>
                            <lightning-layout-item size="11">
                                {email.FromName}
                            </lightning-layout-item>
                            </lightning-layout>
                            </li>
                        </ul>
                    </lightning-tile>
                    <div class="email-box-container slds-m-top_x-small">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <lightning-input-rich-text
                                    value={replyText}
                                    onchange={handleInputChange}>
                                </lightning-input-rich-text>
                            </div>
                        </div>
                    </div>  
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button onclick={closeReplyModal} title="Cancel" label="Cancel"></lightning-button>
                    <lightning-button icon-name="utility:send" class="slds-m-left_small" variant="brand" icon-position="right" onclick={sendEmail} title="Send" label="Send"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={isReplyAllModalVisible}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-reply" aria-modal="true" aria-describedby="modal-content-id-reply" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeReplyModal}>
                        <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <!-- <lightning-button-icon class="slds-modal__close slds-button_icon-inverse" icon-name="utility:close" alternative-text="close" title="Close" variant="inverse" size="small" onclick={closeReplyModal}></lightning-button-icon> -->
                    <h2 id="modal-heading-reply1" class="slds-text-heading_medium slds-hyphenate">RE: {email.Subject}</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-reply1">
                    <lightning-tile>
                        <ul>
                            <li>
                                <lightning-layout size="12">
                                    <lightning-layout-item size="1">
                                <b>From:</b> 
                            </lightning-layout-item>
                            <lightning-layout-item size="11">
                                <select class="slds-select" style="width: 50%;" name = "optionSelect" onchange={changeHandler} >
                                    
                                    <option value={userEmail}>{userName} &lt;{userEmail}&gt;</option>
                                    <template for:each={emails} for:item="eml">
                                    <option key={eml.Id} value={eml.Address}>{eml.DisplayName} &lt;{eml.Address}&gt;</option>
                                </template>
                                </select> 
                            </lightning-layout-item>
                            </lightning-layout>
                            </li>
                            <li>
                                <lightning-layout size="12">
                                    <lightning-layout-item size="1">
                                <b>To:</b>
                            </lightning-layout-item>
                            <lightning-layout-item size="11">
                                {email.FromName}
                            </lightning-layout-item>
                            </lightning-layout>
                            </li>
                            <li>
                                <lightning-layout size="12">
                                    <lightning-layout-item size="1">
                                <b>Cc:</b>
                            </lightning-layout-item>
                            <lightning-layout-item size="11">
                                {email.BccRecipients}
                            </lightning-layout-item>
                            </lightning-layout> 
                            </li>
                        </ul>
                    </lightning-tile>
                    <div class="email-box-container slds-m-top_x-small">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <lightning-input-rich-text
                                    value={replyAllText}
                                    onchange={handleReplyAllInputChange}>
                                </lightning-input-rich-text>
                            </div>
                        </div>
                    </div>  
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button onclick={closeReplyModal} title="Cancel" label="Cancel"></lightning-button>
                    <lightning-button icon-name="utility:send" class="slds-m-left_small" variant="brand" icon-position="right" onclick={sendReplyAllEmail} title="Send" label="Send"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>