<template>
<form>
    <template if:false={showcustomValidationForm}>
        <lightning-card   title="Record edit form" >
            <lightning-record-edit-form id="recordViewForm"
                    
                    object-api-name={objectname}
                    onsubmit={onSubmitHanlder}
                    onsuccess={OnSucessHadler}>
            <lightning-messages></lightning-messages>
            <lightning-input-field field-name={fields.name} value="My default Vale" class="conName"></lightning-input-field>
            <lightning-input-field field-name={fields.lastname}></lightning-input-field>
            <lightning-input-field field-name={fields.birthdate}></lightning-input-field>
            <lightning-input-field field-name={fields.phone}></lightning-input-field>
            <lightning-input-field field-name={fields.cart}></lightning-input-field>
            
            <!--Picklist-->
            <!-- submit -->
            <lightning-button type="submit" label="Save" onclick={saveHandler}></lightning-button>
            <lightning-button label="Cancel" onclick={onReset}></lightning-button>
            <lightning-button label="ResetName" onclick={onResetName}></lightning-button>

            </lightning-record-edit-form>
        </lightning-card>

        <lightning-button label ="Show Custom Validation form" onclick={showCustomFOrm}></lightning-button>
    </template>

    <template if:true={showcustomValidationForm}>
        <lightning-card   title="Custom Record edit form" >
            <lightning-record-edit-form id="recordViewForm1"
                    class="customrecordedit"
                    object-api-name={objectname}
                    onsubmit={onCustomSubmitHanlder}
                    onsuccess={OnCustomSucessHadler}>
            <lightning-messages></lightning-messages>
                <lightning-input type="text" label="Contact Last Name" onkeyup={handleInput} class="inputvalue"></lightning-input>

                <lightning-button type="submit" label ="Create Contact" ></lightning-button>
            </lightning-record-edit-form>
        </lightning-card>

   </template>
    </form> 

</template>