<template>
    <lightning-card  variant="Narrow"  title="Hello" icon-name="standard:account">
        <section role="dialog" tabindex="-1" aria-modal="true" aria-labelledby="modal-heading-01" class="slds-modal slds-fade-in-open">
<div class="slds-modal__container" onclick={clickHandler2}>

<div class="slds-modal__header" >
<h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Modal header</h1>
</div>
<div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
<p>Confirmation!!</p>

</div>
<div class="slds-modal__footer" onclick={clickHandler1} >
<button class="slds-button slds-button_brand" onclick={clickHandler}>OK</button>
</div>
</div>
</section>
<div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
    
    </lightning-card>
</template>