<template>
    <lightning-card    title="Parent Component" >
        <div class="slds-m-around_medium">
        <lightning-input type="integer" variant="standard" name="name" label="Enter Percent Value" onkeyup={handleClick1} placeholder="type here..."></lightning-input>

        <lightning-button variant="brand" label="Percent Value" title="titleName" onclick={handleBtn}></lightning-button>

        <lightning-button variant="brand" label="Reset Slider" title="titleName" onclick={handleReset}></lightning-button>
        </div>
        <div class="slds-m-around_medium">
            <c-hello-child-component
                message = 'hello from parent'
                cardheading = 'Parent to Child Communication'
                is-valid = true
                carousel-details= {carouselImages}
                progress-value= {percentage}
            > </c-hello-child-component>
        </div>

        
    </lightning-card>
</template>