<template >
   
    <div class="c-container" >
        <lightning-layout multiple-rows="true">
            <lightning-layout-item padding="around-small" size="12">
                <lightning-layout>
                    <lightning-layout-item padding="around-small" size="9">
                        <div class="page-section page-main" style="border: 1px #ccc;padding: 1rem;">
                           
                            <div class="slds-text-heading_medium slds-p-around_medium" style=" background:seagreen;">
                            SHOPPING CART({cartlist} items)
                            </div>
                         
                           
            <template if:true={isList}>
                                <div class="slds-grid slds-gutters ">
                                <div class="slds-col slds-size_1-of-4"><b>Product Name</b></div>
                             <div class="slds-col slds-size_1-of-4"><b>Price</b></div>
                                    <div class="slds-col slds-size_1-of-4"><b>Quantity</b></div>
                                    <div class="slds-col slds-size_1-of-4"></div>
                            </div>
                            <template for:each={cartItemsList} for:item="cartItem" for:index="index">
                         
                                <div class="slds-grid slds-wrap slds-p-around_x-small" key={cartItem.Id}>
<div class="slds-col slds-size_1-of-4 slds-p-around_x-small">
<b>{cartItem.Book_Name__r.Name}</b>
</div>
<div class="slds-col slds-size_1-of-4 slds-p-around_x-small">
    <b>
    <lightning-formatted-number value={cartItem.Total_Price__c}  currency-code="USD" currency-display-as="symbol">

    </lightning-formatted-number>
    </b>

</div>
<div class="slds-col slds-size_1-of-4">
     
              <lightning-button variant="brand" onclick={onQuantityChange} value="add" label="+"  name={cartItem}>+</lightning-button> 
           {cartItem.Quantity__c}
               
           
              <lightning-button variant="brand" onclick={onQuantityChange} value="sub" label="-" name={cartItem}>-</lightning-button> 
             



</div>
 <div class="slds-col slds-size_1-of-4 slds-p-left_x-large">
     <a href="JavaScript:void(0);"  id={cartItem.Id} >
  <lightning-icon icon-name="utility:delete" onclick={deletecartItem} name={cartItem.Book_Name__r.Name} alternative-text="delete" data-id={cartItem.Id} variant="destructive" title="delete" size="small">

  </lightning-icon>
    </a>
 
</div>
</div>
</template>
</template>

                                               
            <template if:false={isList}>
                <div class="slds-align_absolute-center slds-text-color_destructive  slds-text-heading_large">
                    No Items in Cart
                </div>
                                    <div class="slds-align_absolute-center ">
                                        <img src={CartImgurl}/> 

                                         </div>
                                      
                                       
                                    
                                       
                                     
                                         <div class="slds-align_absolute-center   slds-text-heading_medium">
                                            <a href="JavaScript:void(0);" onclick={naviagteToHomePage} >
                                                Click here to add items
                                     </a>
                                        </div>
                                      
                                       
                            
                                    
                                  
                                   
            </template>
                                
                          
            <template if:true={isList}> 
                           
                             <a href="JavaScript:void(0);" onclick={naviagteToHomePage}  class="slds-align_absolute-center ">
                                                 Click here to add more items
                                      </a>
                        </template> 
                            

                        </div>
                         
                               
                    </lightning-layout-item>
                    
                     
                                   

                </lightning-layout>
            </lightning-layout-item>
           
        </lightning-layout>
    </div> 
    
</template>