<template>
    <lightning-card  variant="Narrow"  title="Quiz Questions" icon-name="standard:account">
        
        <div class="slds-m-around_medium">
            <form>
            <template for:each={Questions} for:item="questions" >
               <div key={questions.id} class="slds-m-around_medium">
                    <div class="slds-m-around_medium">{questions.id} - {questions.Question} </div>
                    <div class="slds-grid slds-grid_vertical">
                        <div class="slds-col">
                            <input type="radio" name={questions.id} value="a" onchange={onOptionSelect} />
                            {questions.answers.a}
                        </div>
                        <div class="slds-col">
                            <input type="radio" name={questions.id} value="b" onchange={onOptionSelect} />
                            <span>{questions.answers.b}</span>
                        </div>
                        <div class="slds-col">
                            <input type="radio" name={questions.id} value="c" onchange={onOptionSelect} />
                            <span>{questions.answers.c}</span>
                        </div>
                        </div>
               </div>
            </template>
        
            <lightning-button variant="brand" label="Submit" title="Submit" onclick={onSubmit} disabled={allNotSelected} class="slds-m-around_large"></lightning-button>
            <lightning-button variant="brand" label="Reset" title="Reset" onclick={onReset} class="slds-m-around_large"></lightning-button>
        </form>

        <template if:true={issubmitted}>
            <div class={allSubmittedResult}><strong>You have scored {correctanswers} out of {Questions.length}</strong></div>
        </template>
        </div>
    </lightning-card>
</template>