<template>
    <lightning-card  title={cardheading}>
        <lightning-progress-bar value={progressValue} size="large"></lightning-progress-bar>
        <p class="slds-p-horizontal_small">{message} {isValid}</p>

        <div class="slds-box slds-box_x-small slds-text-align_center slds-m-around_x-small">Carousel With disable-auto-scroll Attribute
        
                <lightning-carousel disable-auto-scroll >
            <template for:each={carouselDetails} for:item="item" >
                    <lightning-carousel-image
                    key={item.header}
                    src = {item.src}
                    header = {item.src}
                    description = {item.description}
                    alternative-text = {item.alternativetext}
                    href = {item.href}>
            </lightning-carousel-image>

            </template>
                 </lightning-carousel>   
            

        </div>
        <div>
            <lightning-slider label="Volume" value={val} onchange={changeHandler}></lightning-slider>
        </div>


    </lightning-card>
</template>