<template>
    <lightning-input label="Contact" value={searchValue} onkeyup={handleChange}>
    </lightning-input>
    <lightning-layout vertical-align="center">
 
    
    <lightning-layout-item padding="around-small">
        <template if:true={listIsNotEmpty}>
    <template for:each={contacts.data} for:item="contact">
        <c-event-with-data parent-value={contact} key={contact.Id} onselected={selectedEventInParent}>
</c-event-with-data>
    </template>
    </template>
    <template if:false={listIsNotEmpty}>
      <h1> No contacts found for this search</h1>
    </template>
    </lightning-layout-item>

    <lightning-layout-item padding="around-small">
        <template if:true={selectedContact}>
        <h1>You selected :   {selectedContact.Id} &nbsp; &nbsp; {selectedContact.Name}</h1>
      </template>
    </lightning-layout-item>
</lightning-layout>
</template>