.lgc-bg {

    background-color: rgb(255, 255, 255);
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
.shieldIcon{
    
    margin-left: -28px;
    margin-top: -60px;
}

:host {
   --sds-c-textarea-sizing-min-height: 100px;
}

.my-icon {
    --sds-c-icon-color-foreground-default: purple;   
}

.my-arrow {
    --sds-c-icon-color-foreground-default: green;   
}