<template>
    <div class="slds-m-top_xx-small slds-m-bottom_x-large">
        <h2 class="slds-text-heading_large slds-m-bottom_medium">
            <div class="demo-only" style="padding:0.05rem;background:#298bdc">
                <div class="slds-align_absolute-center" style="height:3rem">
                    <div class="slds-text-color_inverse">
                        <div class="slds-text-heading_medium">
                            <b> Secure Email Messages </b>
                        </div>
                    </div>
                </div>
            </div>
        </h2>
        
       
       <!-- <div style= "height: 700px; overflow-y: scroll;">    -->
        <div class="slds-p-around_medium lgc-bg">
            <lightning-icon class="refreshRotate" icon-name="utility:refresh" style="float:right;" alternative-text="refresh" size="small"  onclick={handleRefresh}></lightning-icon>
            <br/>
            <template if:true={emailList}>
                <template for:each={emailList} for:item="email" for:index="index">
                    <div key={email.Id} class="slds-p-around_medium lgc-bg" >
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col slds-size_9-of-12">
                                <span>
                                    <lightning-tile name={email} type="media" label={email.FromName} data-currentindex={email.Id} onclick={handleonClick}>
                                        <template if:false={email.isCustomEmail}>
                                            <lightning-avatar slot="media" size="medium" src="/bad/image/url.jpg" variant="circle" initials={email.Initials__c} fallback-icon-name="standard:avatar"  alternative-text={FirstName} class="slds-m-right_small"></lightning-avatar>
                                        </template>
                                        <template if:true={email.isCustomEmail}>
                                            <lightning-avatar slot="media" fallback-icon-name="standard:avatar" variant="circle" size="medium" class="slds-m-right_small"></lightning-avatar>
                                            <lightning-icon icon-name="utility:shield" class="my-icon" style="margin-left:-35px;" size="x-small" title="Secured Paubox"></lightning-icon>
                                            <template if:true={email.recordType}><!-- outbound -->
                                                <lightning-icon icon-name="utility:arrow_right" class="my-arrow" style="margin-left:-5px;margin-top:-20px;position:absolute;" size="x-small"></lightning-icon>
                                            </template>
                                            <template if:false={email.recordType}><!-- inbound -->
                                                <lightning-icon icon-name="utility:arrow_left" class="my-arrow" style="margin-left:-5px;margin-top:-20px;position:absolute;" size="x-small"></lightning-icon>
                                            </template>
                                        </template>                                          
                                        <ul class="slds-list_horizontal slds-has-dividers_right">
                                        <b>
                                            <li class="slds-item">{email.Subject}</li>
                                        </b>
                                        </ul>
                                        
                                        <li class="slds-list__item slds-m-right_small slds-grid">
                                            <span class="slds-truncate">
                                                <p class="slds-line-clamp_x-small">
                                                        <lightning-formatted-rich-text value={email.TextBody}>
                                                        </lightning-formatted-rich-text>
                                                </p>
                                            </span>
                                            <span class="slds-m-left_xx-small slds-no-flex"> </span>
                                        </li>
                                    </lightning-tile>
                                </span>
                            </div>
                            <div class="slds-col slds-size_3-of-12">
                                <span>
                                    <div align="right">
                                        <lightning-formatted-date-time value={email.MessageDate} year="numeric" month="numeric" day="numeric" weekday="short" hour="2-digit" minute="2-digit" hour12="true">

                                        </lightning-formatted-date-time>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </template>
            </template>
            <template if:true={error}>
                {error}
            </template>
            
        </div>
        <!-- </div> -->

    

    </div>

    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <template if:true={isReplyClick}>
                        <template if:false={isREReplyClick}>
                            <h2 id="modal-heading-00" class="slds-text-heading_medium slds-hyphenate">RE : {selectedEmail.Subject}</h2>
                        </template>
                        <template if:true={isREReplyClick}>
                            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{selectedEmail.Subject}</h2>
                        </template>
                    </template>
                    <template if:false={isReplyClick}>
                        <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">{selectedEmail.Subject}</h2>
                    </template>
                    
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                 
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <template if:true={isReplyClick}>
                        <lightning-tile>
                            <div><b>From:</b> {selectedEmail.FromName}</div>
                            <div><b>To:</b> {selectedEmail.ToAddress}</div>
                        </lightning-tile>
                        <div style= "height:300px; overflow-y: scroll;">
                            <div class="slds-form-element">
                                <div class="slds-form-element__control">
                                    <textarea id="textarea-id-01" placeholder="enter your message here..." onchange={handleTextarea} class="slds-textarea"></textarea>
                                </div>
                        </div>  
                            <hr>
                            <lightning-tile type="media">
                                <template if:false={selectedEmail.isCustomEmail}>
                                    <lightning-avatar slot="media" size="medium" src="/bad/image/url.jpg" variant="circle" fallback-icon-name="standard:avatar" initials={selectedEmail.Initials__c} alternative-text={FirstName} class="slds-m-right_small"></lightning-avatar>
                                </template>
                                <template if:true={selectedEmail.isCustomEmail}>
                                    <lightning-avatar slot="media" fallback-icon-name="standard:avatar" variant="circle" size="medium" class="slds-m-right_small"></lightning-avatar>
                                </template> 
                                <ul class="slds-list_horizontal slds-has-dividers_right">
                                    <li><p><b> {selectedEmail.FromName}</b></p> </li> 
                                </ul>
                                <div class="slds-grid" style="width:200px"> 
                                    <lightning-formatted-date-time value={selectedEmail.MessageDate} year="numeric" month="numeric" day="numeric" weekday="short" hour="2-digit" minute="2-digit" hour12="true">
                                    </lightning-formatted-date-time>    
                                        
                                </div>
                            </lightning-tile> 
                            <br> 
                            <p>
                                <lightning-formatted-rich-text value={selectedEmail.TextBody}></lightning-formatted-rich-text>
                            </p>
                        </div>
                        

                        <br/>
                        <lightning-file-upload label="Attachments" name="fileUploader" multiple>
                        </lightning-file-upload>

                        <div class="slds-m-top_small slds-m-bottom_medium">
                            <h2 class="slds-text-heading_small slds-m-bottom_small">
                                <br>
                                <lightning-button variant="brand" label="Send" value={selectedEmail.isCustomEmail} onclick={handleSendOnReply} class="slds-m-left_x-small"></lightning-button>
                                <lightning-button variant="brand" label="Cancel" onclick={handleCancelOnReply} class="slds-m-left_x-small"></lightning-button>
                            </h2>
                        </div>
                    </template>

                    <template if:false={isReplyClick}>
                        <lightning-tile type="media">
                            <template if:false={selectedEmail.isCustomEmail}>
                                <lightning-avatar slot="media" size="medium" src="/bad/image/url.jpg" variant="circle" fallback-icon-name="standard:avatar" initials={selectedEmail.Initials__c} alternative-text={FirstName} class="slds-m-right_small"></lightning-avatar>
                            </template>
                            <template if:true={selectedEmail.isCustomEmail}>
                                <lightning-avatar slot="media" fallback-icon-name="standard:avatar" variant="circle" size="medium" class="slds-m-right_small"></lightning-avatar>
                            </template> 
                            <ul class="slds-list_horizontal slds-has-dividers_right">
                                <li><p><b> {selectedEmail.FromName}</b></p> </li> 
                            </ul>
                            <div class="slds-grid" style="width:200px"> 
                                <lightning-formatted-date-time value={selectedEmail.MessageDate} year="numeric" month="numeric" day="numeric" weekday="short" hour="2-digit" minute="2-digit" hour12="true">
                                </lightning-formatted-date-time>    
                                    
                            </div>
                        </lightning-tile> 
                        <br> 
                        <p>
                            <lightning-formatted-rich-text value={selectedEmail.TextBody}></lightning-formatted-rich-text>
                        </p>

                        <div class="slds-m-top_small slds-m-bottom_medium">
                            <h2 class="slds-text-heading_small slds-m-bottom_small">
                                <br> <br>
                                <lightning-button variant="brand-outline" label="Reply" onclick={handleReply} class="slds-m-left_x-small"></lightning-button>
                                <lightning-button variant="brand-outline" label="Forward" onclick={handleForward} class="slds-m-left_x-small"></lightning-button>
                            </h2>
                        </div>
                    </template>
                </div>
                
                
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" variant="brand" onclick={closeModal} title="Cancel">Cancel</button>
                    
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

      
</template>