<template>
    <lightning-card  variant="Narrow"  title="LWC hooks" icon-name="standard:account">
        
        <lightning-button variant="brand" label="connectedCallback" title="Connected" onclick={handleClick}></lightning-button>
        <div>I a cpnencted</div>
        
        <template if:false={isShowVisble}>
        <lightning-button variant="brand" label="DisconnectedCallback" title="DisConnected" onclick={handleClick}></lightning-button>
        <div>I a Disconencted</div>
        </template>
        <template if:true={isShowVisble}>
        <c-life-cycle-child></c-life-cycle-child>
        </template>
    </lightning-card>
</template>