<template>
   <h1>Parent Component</h1>
    Input Value {inputMethod}
    <lightning-input name="inputValue" value={input} label="Name" onchange={handleChange} placeholder="Enter value here....">

    </lightning-input>
   
    <lightning-button onclick={increment} label="Click here to increase count from parent" 
    variant="brand"></lightning-button>
    <lightning-button onclick={slottoggle} label="Click here to Toggle Slot" 
    variant="brand"></lightning-button>
    <h1>Child Component</h1>
    <br/>
    <c-lwc-child child-value={input}>
        <template if:false={showChildSlots}>
        <span slot="firstName">Willy</span>
        <span slot="lastName">Wonka</span>
        <span>Chocolatier</span>
        </template>
    </c-lwc-child><br/>

    <br/>
   

   
  
</template>