<template>
    <lightning-layout vertical-align="center">
        <a href="#" onclick={selecthandler}>
       
        <lightning-layout-item  padding="around-small">Id {parentValue.Id}</lightning-layout-item>
        <lightning-layout-item padding="around-small">Name {parentValue.Name}</lightning-layout-item>
      
      </a>
    </lightning-layout>
</template>