<template>
    <lightning-card   title="Child to Parent Communication" onclose={closeHandler1} >
        <p>{msg}</p>
        <lightning-button variant="brand" label="Show Alert" title="Show" onclick={onShow}></lightning-button>
        <template if:true={showAlert}>
       <c-hello-child1 onclose={closeHandler}></c-hello-child1>
        </template>
    </lightning-card>
</template>