img.carData{
    height: 120px;
    max-width: initial;
    pointer-events: none;
}

.title{
    font-weight: bold;
    text-transform: uppercase;
}

.content{
    padding: 8px;
    background-color: aliceblue;
    border-radius: 0.25rem;
}