<template>
    <div>
        <div class="content" onclick={handleClick}>
            <img src={car.Picture_URL__c} class="slds-align_absolute-center carData"
            alt="Car Picture"/>
            <div >
                <p class="title slds-align_absolute-center">{car.Name}</p>
                <p class="slds-align_absolute-center">
                    MSRP:
                    <lightning-formatted-number format-style="currency" currency-code="USD" value={car.MSRP__c}>

                    </lightning-formatted-number>
                </p>
            </div>
        </div>
    </div>
</template>