<template>
 {uk}<br/>
 {input} input <br/>
 {searchValue} searchValue <br/>
 
 
 <lightning-input name="input" label="Search Value" value={input} onchange={handleChange1} ></lightning-input>
 <lightning-input name="searchValue" label="Search Value" value={searchValue} onchange={handleChange1} ></lightning-input>
    <template for:each={accounts} for:item="account">
        <lightning-card key={account.Id}>
        {account.Id} &nbsp;
        {account.Name}
    </lightning-card>
  
    </template>
    
</template>