<template>
    <lightning-card title="ApexImperativeMethod" icon-name="custom:custom63">
       <lightning-input value={searchKey} label="Enter search value" onchange={handleChange}></lightning-input>
                <lightning-button label="Load Contacts" onclick={handleLoad}></lightning-button>
          
            <template if:true={contacts}>
                <template for:each={contacts} for:item="contact">
                    <p key={contact.Id}>{contact.Name}</p>
                </template>
            </template>
            <template if:true={error}>
                {error}
            </template>
            <p>RecordId  {recordId}</p>
            <template if:true={record.data}>
                <p>Contact name {record.data.fields.Name.value}</p>
                <p>RecordId {recordId}</p>
                </template>
                <template if:true={record.error}>
                    {record1.error}
                    </template>  
    </lightning-card>
</template>