<template>
    <lightning-card  title="Inline Styling">
        <div class="slds-m-around_medium">  
            <div style="color:red; font-size:20px;">I am Div Tag</div>
        </div>
    </lightning-card>
</template>