<template>
    <lightning-card title="Car Filters" icon-name="standard:calibration">
        <div class="slds-m-horizontal_medium">
            <lightning-input type="Search" name="name" label="Search Key" 
            value={filters.searchKey} onchange={handleSearchKeyChange}>

            </lightning-input>

            <lightning-slider label="Max Price" step="100" min="0" max="999999"
            value={filters.maxprice} onchange={handleMaxPriceChange}>

            </lightning-slider>

            <section>
                <h2>Category</h2>
                <template if:true={categories.data} >
                    <template for:each={categories.data.values} for:item="category">
                        <lightning-input type="checkbox" 
                        key={category.value}
                        label={category.label} 
                        checked 
                        data-name="categories" 
                        data-value ={category.value}
                        onchange={handleCategoryChange}>
                        </lightning-input>
                    
                    </template>
                </template>
                <template if:true={categories.error} >                    
                </template> 
            </section>
            <section>
                <h2>Make Type</h2>
                <template if:true={makeType.data} >
                    <template for:each={makeType.data.values} for:item="make">
                        <lightning-input type="checkbox" 
                        key={make.value}
                        label={make.label} 
                        checked 
                        data-name="makeType" 
                        data-value ={make.value}
                        onchange={handleCategoryChange}>
                        
                        </lightning-input>
                    
                    </template>

                </template>
                <template if:true={makeType.error} >                    
                </template>                
            </section>
        </div>
    </lightning-card>
</template>