<template>
    <lightning-card title={carName} icon-name="standard:calibration">
        <template if:true={recordid}>
            <lightning-button-icon icon-name="utility:expand_alt" slot="actions" onclick={handleNavigation} ></lightning-button-icon>
            <div class="slds-m-horizontal_medium">
                <img src={carPicture} alt="Car Picture"/>
                <lightning-record-view-form onload={handleOnLoad} record-id={recordid} object-api-name="Car__c">
                    <lightning-output-field field-name={categoryField}></lightning-output-field>
                    <lightning-output-field field-name={makeField}></lightning-output-field>
                    <lightning-output-field field-name={msrpField}></lightning-output-field>
                    <section>Other Features</section>
                    <lightning-output-field field-name={fuelField}></lightning-output-field>
                    <lightning-output-field field-name={seatsField}></lightning-output-field>
                    <lightning-output-field field-name={controlField}></lightning-output-field>
                </lightning-record-view-form>
            </div>
        </template>
        <template if:false={recordid}>
            <p>Select a car to view details</p>
        </template>
        
    </lightning-card>
</template>