<template>
    <lightning-card>
        <div class="slds-m-horizontal_medium">
            <template if:false={similarCars}>
                <div class="slds-align_absolute-center">
                    <lightning-button variant="destructive" label="Fetch Similar Cars" onclick={fetchSimilarCars}></lightning-button>
                </div>
            </template>

            <template if:true={similarCars}>
                <template for:each={similarCars} for:item="car">
                    <lightning-layout vertical-align="center" key={car.Id}>
                        <lightning-layout-item>
                            <img src={car.Picture_URL__c} alt="car picture" class="car"/>
                        </lightning-layout-item>
                        <lightning-layout-item flexibility="grow" class="slds-p-horizontal_small">
                            <p><strong>{car.Name}</strong></p>
                            <p>
                                <lightning-formatted-number format-style="currency" currency-code="USD"
                                value={car.MSRP__c} maximum-fraction-digits="0"></lightning-formatted-number>
                            </p>
                        </lightning-layout-item>
                        <lightning-layout-item>
                            <lightning-button label="View Detail" data-id={car.Id} onclick={handleViewDetailsClick}></lightning-button>
                        </lightning-layout-item>
                    </lightning-layout>
                </template>
            </template>
        </div>
    </lightning-card>
</template>