<template>
    <lightning-card title="Cars Available" icon-name="standard:account">
        <div class="slds-m-horizontal_medium">
            <template if:true={cars.length}>
                <div class="content">
                    <template for:each={cars} for:item="car">
                        
                            <c-car-tile key={car.id} car={car} onselected={handleSelectedId}>

                            </c-car-tile>
                        
                    </template>
                </div>
            </template>

            <template if:false={cars.length}>
                <p>There are no cars with filter criteria</p>
            </template>
        </div>
    </lightning-card>
</template>