:host {
    background: rgb(255, 255, 255);
    display: block;
}

.cardTitle {
    padding: 5px 5px;
    color: white;
    background-color: rgb(41, 139, 220);
}

li:nth-child(even) {
    background: rgba(238, 238, 238, 1);
}