<template>
    <lightning-card>
        <h1 slot="title" class="cardTitle">Secure Inbox</h1>
        <lightning-button-icon icon-name="utility:refresh" size="small" onclick={handleRefresh} label="New" slot="actions"></lightning-button-icon>
        <template if:true={error}>
            <c-error-panel errors={error}></c-error-panel>
        </template>
        <template if:false={error}>
            <div class="slds-p-horizontal_small">
                <ul class="slds-has-dividers_bottom-space">
                    <template for:each={emailList} for:item="email" for:index="index">
                        <li class="slds-item" key={email.Id}>
                            <c-secure-email-item email={email}></c-secure-email-item>    
                        </li>
                    </template>
                </ul>
            </div>
        </template>
    </lightning-card>
</template>