<template>
    <lightning-card title="ApexWireMethodToProperty" icon-name="custom:custom63">
        <div class="c-container">
            <lightning-layout>
              <lightning-layout-item padding="around-small">
                  {userId}
                  <h1>Searchvalue--> {searchvalue1}</h1>
                  <lightning-input type="text" name="input4" label="Enter search value" 
                  placeholder="type here..." onchange={handleSearchValueChange}>
            </lightning-input>
              </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <template if:true={accounts.data}>
                        <template for:each={accounts.data} for:item="acc">
                            <p key={acc.Id}>{acc.Name}</p>
                        </template>
                    </template>
                    <template if:true={accounts.error}>
                        {acc.error}
                        <!-- <c-error-panel errors={contacts.error}></c-error-panel> -->
                    </template>
                </lightning-layout-item>
                <lightning-layout-item padding="around-small">
                    <template if:true={accounts1.data}>
                        <template for:each={accounts1.data} for:item="account1">
                            <p key={account1.Id}>{account1.Name}</p>
                        </template>
                    </template>
                    <template if:true={accounts1.error}>
                        {account1.error}
                    </template>
                </lightning-layout-item>
                </lightning-layout>
                </div>
                <lightning-card title="Wire Function" icon-name="standard:contact">
                    <h1>RecordId--> {recordId}</h1>
                    <template if:true={record}>
                        <div class="slds-m-around_medium">
                            <p>NAME --> {name}</p>
                        </div>
                    </template>
                    <template if:true={error}>
                       {error}
                    </template>
                </lightning-card>
       
    </lightning-card>
</template>