<template>
    <lightning-card title="Wire Function" icon-name="standard:contact">
        <h1>The $ prefix tells the wire service to treat it as a property of the class and 
            evaluate it as this.propertyName. The property is reactive.
             If the property’s value changes, new data is provisioned and the component rerenders.</h1>
        <template if:true={record}>
           
                <p>name with wired data --> {name}</p>
           
        </template>
        <template if:true={record1.data}>
      
                <p>Name --> {record1.data.fields.Name.value}</p>
                <p>AccountNumber --> {record1.data.fields.AccountNumber.value}</p>
                <p>Name -->{Name}</p>
                <p>AccNumber--> {AccNumber}</p>
                <lightning-input label="Account NUmber Field" value={AccNumber}>
                    </lightning-input>
           
        </template>
        <template if:true={error}>
            {record.error}
        </template>
        <h1>Record Id--> {recordId}</h1>
        <h1>Record Type Id--> {recordTypeId}</h1>
    </lightning-card>
  
    <lightning-combobox
    name="progress"
    label="Status"
    value={value}
    placeholder="Select Progress"
    options={salutations}
    onchange={handleChange} ></lightning-combobox>
    <p>Selected value is: {value}</p>
</template>