<template>
    Child Component 
    value from child component {childValue}<br/>
    Count {count}
<br/>
<p>First Name: <slot name="firstName">Default first name</slot></p>
<p>Last Name: <slot name="lastName">Default last name</slot></p>
<p>Description: <slot>Default description</slot></p>
    <lightning-input name="childValue" value={childValue} label="Name" onchange={handleChange} 
    placeholder="Enter value here...."></lightning-input>
    <lightning-button onclick={increment} label="Click here to increase count from child" variant="brand"></lightning-button>
</template>