<template>
    <!-- <div>Hello {fullname}</div>
    
     {details.company} 

    <input type="text" onkeyup={changeHandler} />                               -->

    <!-- <div>Hello {title}</div> -->
    <lightning-card  title="Hello">
        <div class="slds-m-around_x-small">

            <lightning-input type="text" variant="standard" name="Hi" label="Enter Course Name" placeholder="type here..." onkeyup={changeHandler}></lightning-input>
        </div>
        </lightning-card>
    <lightning-card  title="@track">
        <div class="slds-m-around_x-small">

            <lightning-input type="text" variant="standard" name="Hi" label="Enter City Name" placeholder="type here..." onkeyup={ontrack}></lightning-input>
        </div>
        <div>{details.city} is my city</div>
        </lightning-card>

         <lightning-card  title="@Getter ">
        <div class="slds-m-around_x-small">

            <lightning-input type="text" variant="standard" name="Hi" label="Enter City Name" placeholder="type here..." onkeyup={onGetters}></lightning-input>
            <div> The fullname is {fullnamechange} </div >
            <div>The sum of {num1} and {num2} is {sumOfNum}</div>
        </div>
        </lightning-card>

         <lightning-card  title="If else /Conditional Rendeirng">
        <div class="slds-m-around_x-small">

        <lightning-button variant="brand" label="CLick" title="Click" onclick={callHandleButton}></lightning-button>    
            <template if:true={isVisible}>
                <div> Welcome to SFDC</div>

            </template>
        </div>
        </lightning-card>
</template>