<template>
    
    <!-- <template if:true={loader}>
        <lightning-spinner alternative-text="Loading..." size="small"></lightning-spinner>
    </template> -->
    <div class="slds-box slds-theme_default">
        <div class="slds-p-around_medium">
           <lightning-record-edit-form
    object-api-name="Task__c" onsuccess={handleSuccess}
    
>
<lightning-messages></lightning-messages>
    <lightning-input-field field-name="Name" class="nameCmp" required="true" value={name} onchange={onhandleChange} name="name" onfocusout={onFocusOutEvent} > </lightning-input-field>
    <template if:true={iserror}>
        <div class="slds-text-color_error">Task Name Already exists</div>
    </template>
    <lightning-input-field field-name="Task_Type__c" value={tasktype}> </lightning-input-field>
    <lightning-input-field field-name="Description__c" value={description}> </lightning-input-field>

    

<lightning-input-field id="fieldid" field-name="Estimated_Complete_Date__c" name="completeddate" onfocusout={onFocusOutEvent} value={completeddate} onchange={onhandleChange}>
</lightning-input-field>
<template if:true={isdateerror}>
    <div class="slds-text-color_error">{dateerrorstring}</div>
</template>

   
    <div class="slds-var-m-top_medium slds-align_absolute-center">
    
    </div>
</lightning-record-edit-form>
<lightning-button variant="brand" type="submit" label="Save" onclick={onhandleClick}>
</lightning-button>
</div>
</div>
<div>

</div>

<div class="slds-box slds-theme_default">

    <div class="slds-var-m-top_medium slds-align_absolute-center">
        <lightning-button name="alltasks"  label={alltasklabel} variant={alltasks} onclick={onhandleChange}>
        </lightning-button> &nbsp; &nbsp;
        <lightning-button name="progress"  label={getInProgresslabel} variant={progress}  onclick={onhandleChange}>
            
        </lightning-button>
        &nbsp; &nbsp;
        <lightning-button name="completed" variant={completed}  label={getcompletedlabel} onclick={onhandleChange}>
            </lightning-button>
    </div>
    <lightning-card  title="Tasks List">
        <div class="slds-p-around_medium">

    <template if:true ={istableshown}>
      <lightning-datatable
    key-field="Id"
    data={tasks}
    columns={columns}>
    </lightning-datatable>

    <div class="slds-align_absolute-center"> 
        <div class="slds-p-right_xx-small">
                 
            <lightning-button label="Prev"
            disabled={isPrev} onclick={handlePrev}
                                variant="brand"
                                icon-name="utility:back"
                                name="prev"></lightning-button>  
        </div>
        <span class="slds-badge slds-badge_lightest">
            {recordStart}-{recordEnd} of {gettotalRecords} | Page {pageNumber} of {totalPages}
        </span>
        <div class="slds-p-left_xx-small">
            <lightning-button label="Next"
            disabled={isNext} onclick={handleNext}
                                variant="brand"
                                icon-name="utility:forward"
                                icon-position="right"
                                name="next"></lightning-button>
        </div>
    </div>
    </template>
    <template if:false ={istableshown}>
        
        <div class="slds-text-heading_medium"><b>No Tasks Found Related to Status : {Status} </b></div>
    
    
        
       

    </template>
    </div>
    </lightning-card>
        </div>


        
</template>