<template>
    <div class="slds-m-around_large">
    <h1>Welcome to first LWC!</h1>
    <lightning-input label="New"  value={inputTxt} onchange={handleclick}></lightning-input>

    
        {greeting}
        <div>
            
            {inputTxt}
            {apimsg}
           
        </div>
        <div>
        <lightning-button label="Click me" title="Non-primary action" onclick={handlebuttonClick} class="slds-m-left_x-small"></lightning-button>
        </div>
        <div class="slds-m-around_large">
            <template for:each={results} for:item="con">
                
                <p key={con.Id}>
                        {con.Id}
                </p>
                
            </template>
        </div>
    </div>    
    
</template>