<template>
    <template if:false={showCart}>
    <div class="slds-page-header" style="background: yellowgreen;">
        <div class="slds-page-header__row">
        <div class="slds-page-header__col-title">
        <div class="slds-media">
        <div class="slds-media__body">
        <div class="slds-page-header__name">
        <div class="slds-page-header__name-title">
        <h1>
        <span class="slds-page-header__title slds-truncate" title="title">
            E-Books Store
            </span>
             
        </h1>
        </div>
        </div>
        <p class="slds-page-header__name-meta">Search and Explore new Books</p>
            
        </div>
        </div>
            </div>
          <a href="JavaScript:void(0);" onclick={onClickCart}>
         <lightning-icon icon-name="utility:cart"  size="large" variant="destructive" >

         </lightning-icon>
           
          
             
            </a>
              <div class="slds-text-heading_large">{noOfCartItems}</div>
        </div>
        </div>
        </template>
        <template if:true={showModal}>
            <section aria-modal="true" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container ">
                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_small">Viewing Details</h2>
                        <lightning-icon class="slds-modal__close" icon-name="utility:close" size="small" onclick={closeModal}></lightning-icon>
                    </header>
                    <div class="slds-modal__content">
                        <div class="slds-p-around_small">
                            <lightning-record-form
                            record-id={viewId}
                            object-api-name="E_Books__c"
                            layout-type="Full"
                            columns="2"
                            mode="readonly"
                        >
                        </lightning-record-form>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button variant="brand" label="Cancel" onclick={closeModal} class="slds-p-around_x-small"></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <template if:false ={showCart}>
        <div class="slds-grid slds-glutters">
            <div class="slds-col slds-size_1-of-4 slds-p-around_small">
               <lightning-input  value={searchValue} onchange={onSearchValueChange} placeholder="Search Books with name">

               </lightning-input>
           </div>
   </div>
</template>
             <div class="slds-grid slds-wrap">
                 <template if:false ={showCart}>
                <template for:each={ebooksList} for:item="item" >
           
                <div key={item.Id} class="slds-col slds-size_1-of-4 slds-p-around_small">
             <lightning-card footer={item.Id} title={item.Name} icon-name="custom:custom7" >
                 
                   
                    <div class="slds-grid slds-gutters">
                         <div class="slds-col slds-size_2-of-4">
                            <img src={eBookImgurl}/>
                        </div>
                        <div class="slds-col slds-size_2-of-4">
                            Name: {item.Name}<br/>
                            Id: {item.Book_Id__c} <br/>
                           
                            Price : {item.Price__c }
                        </div>
                    </div>
                
                    <div slot="actions">
                    <lightning-button label="View Details" name={item.Id} aura:id="button1" variant="brand" onclick={showInfo}>

                    </lightning-button>
                    </div>
               
        <template if:false={item.isAddedToCart}>
            <div slot="footer">
                <lightning-button label="Add to Cart" value={item} name={item.Id}  variant="brand" onclick={addtocart}>

                </lightning-button>
            </div>
        </template>

      <template if:true={item.isAddedToCart}>
            <div slot="footer">
                <lightning-button label="Added to cart" value={item} name={item.Id}  variant="brand" disabled="true">

                </lightning-button>
            </div>
        </template>
        
                 
           
            </lightning-card>
                </div>
         </template>
        </template>

        
            </div>

            <template if:true={showCart}>
                <c-e-book-cart-page-l-w-c cart-items-list={cartItemsList} onmycustomevent={handleCustomEvent} onmycustomevent1={handleCustomEvent1} >
   
                </c-e-book-cart-page-l-w-c>
            </template>
</template>